<div class="lobby-list">
  <div class="row lobby-header">
    <h4 class="col-xs-6">Avaliable Lobby</h4>
    <div class="col-xs-6 text-right">
      <button class="btn btn-default">Create Lobby</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          BEST PLAYER NA <strong> - Jung</strong>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          LOL SCRUBS <strong> - Jung</strong>
        </div>
      </div>
    </div>
  </div>
</div>
